.nav-container {
  gap: 8rem;
}
.collapse-nav {
  gap: 4rem;
}

.regen-brand {
  display: flex;
  align-items: flex-start;
  color: gold;
  margin-right: 2rem;
  width: 6rem;
}
.power-red {
  background: url("../../assets/red-stain-bg-removebg-preview1.png") no-repeat
    center;
  padding: 10%;
  border-radius: 50%;
}
.energy-blue {
  background: url("../../assets/blue-stain-bg-removebg-preview1.png") no-repeat
    center;
  border-radius: 50%;
  padding: 10%;
}
.vibe-green {
  background: url("../../assets/green-stain-bg-removebg-preview1.png") no-repeat
    center;
  border-radius: 50%;
  padding: 10%;
}
